/*
 * [WATF]* Magazine • Design CSS
 * Author: yohan.founs@valtech.fr
 * Last update: 2013-05-17
 */
@font-face{font-family:'Gotham';src:url("fonts/Gotham-Medium.otf") format("opentype");font-weight:normal;font-style:normal;font-variant:normal}
@font-face{font-family:'Gotham';src:url("fonts/Gotham-MediumItalic.otf") format("opentype");font-weight:normal;font-style:italic;font-variant:normal}
@font-face{font-family:'Gotham-Book';src:url("fonts/Gotham-Book.otf") format("opentype");font-weight:normal;font-style:normal;font-variant:normal}
@font-face{font-family:'Gotham-Book';src:url("fonts/Gotham-BookItalic.otf") format("opentype");font-weight:normal;font-style:italic;font-variant:normal}
@font-face{font-family:'Gotham-Light';src:url("fonts/Gotham-Light.otf") format("opentype");font-weight:normal;font-style:normal;font-variant:normal;}
@font-face{font-family:'Gotham-Bold';src:url("fonts/Gotham-Bold.otf") format("opentype");font-weight:normal;font-style:normal;font-variant:normal}
body { background: url(img/background-texture.png) repeat; font-family:Georgia; color: #000000; }
h1, h2, h3, h4, h5, h6 { font-family: 'Gotham'; }
dl, dd, dt { font-family: Optima; font-size: 0.9em; }
a { color: #000000; }
a:link { color: #000000; }
a:hover { color: #000000; }
a:active { color: #000000; }
nav li a span { color: #222222; }
nav li a:hover span, nav li a:active span { color: #888888; }
.page-content { background: url(img/article-texture.jpg) repeat; }
.page-content div.tampon { background: url(img/article-tampon.png) top right; }
/*section.visual > figure > figcaption {background-image: url(img/article-figcaption.png); }*/
/*section.visual > figure > figcaption > span {font-family: Gotham;color: #000000;text-shadow: 0px 1px 1px #ffffff;}*/
section .page-content {background-color: #ffffff;-moz-box-shadow: 0px -3px 20px 0px #9b9b9b;-webkit-box-shadow: 0px -3px 20px 0px #9b9b9b;box-shadow: 0px -3px 20px 0px #9b9b9b;}
section header { border-top: 1px solid #c9c9c9; border-bottom: 1px solid #dcdcdc; }
section header h1, 
section header h2, 
section header h3 {font-family: Georgia; font-weight: normal;font-style: italic; }
section article h2 { text-transform: uppercase; font-weight: normal; font-family: Gotham-Bold; }
section article h3 { font-family: Georgia; font-weight: normal; }
section article legend { font-family: Gotham-Book; color: #000; }
section blockquote { font-family: Georgia; font-weight: normal; color: #ed6066; }
section footer { font-family: Gotham-Book; color: #000; }
section article h2.centered { background: url(img/header-centered-border.png) bottom center no-repeat; font-family: Gotham-bold; font-style: normal; text-transform: uppercase;}
.sketch-border { border: 5px solid #ffffff; }
.categories { background: url(img/categories-sprite.png) left top no-repeat; }
.social { background: url(img/social-sprite.png) left top no-repeat; }
.sharing { background: url(img/sharing-sprite.png) left top no-repeat; }
.cover-ticket h1 { color: #000000; font-family: "Gotham-bold";}
.cover-ticket h2 { color: #444444; font-family: "Gotham"; font-weight: normal;}
.cover-ticket a h4 span.month { font-family: "Gotham";  font-weight: bold;}
.cover-ticket a h4 span.year { font-family: "Gotham-Book"; font-weight: normal;}
.cover-ticket h5 { color: #000000; font-family: "Gotham-Light"; font-weight: normal;}
.index h1 { text-transform: uppercase; }
.index .index-date { color: #565656; }
.index ul li a { background-color: #fff; border: 1px solid #eeeeee; cursor: pointer; color: #000000; }
.index ul li a:hover, .index ul li a:active { -moz-box-shadow: 2px 1px 10px 0px #999999;-webkit-box-shadow: 2px 1px 10px 0px #999999;box-shadow: 2px 1px 10px 0px #999999;}
.index ul li a figure img { border: 5px solid #fff; }
.index ul li a h4 { text-transform: uppercase; }
ul.gallery li a figure figcaption { font-family: Gotham-Book; }
ul.gallery li a figure figcaption span.date { color: gray; font-family: Georgia; }
#cards { background-color:rgba(0,0,0,.9); }
#cards li a figure figcaption { background-color:rgba(0,0,0,.6); color: #fff; font-family: "Gotham-Medium"; text-transform: uppercase; }
#cards li a figure figcaption p { font-family: Georgia; text-transform: none; }
#help { background-color:rgba(0,0,0,.5); 	}
#help p { color: #fff; font-family: Georgia; font-style: italic; }
#help p.gonext span { font-family: helvetica; font-weight: bold; font-style: normal; color: #222; border: 1px #fff solid; background-color: #ccc; padding: 0.5em; border-radius: 8px; }


