/*
 * [WATF]* Magazine • Layout CSS
 * Author: yohan.founs@valtech.fr
 * Last update: 2013-10-2
 */

html{	
	font-size:12px;
	overflow: hidden;
}
body { 	
  height:100%; 
	position: relative;
	font-size:1em; 	
	overflow: hidden;
}
img, figure { 
	max-width: 100%; 
}
hr { height: 4px; }

/** --------------------------------------
		Loader
****--------------------------------------*/

#loader {
    display: none;
    position: fixed;
    top: 50%;
    margin-top: -23px;
    left: 50%;
    margin-left: -23px;
}
.loading #loader { 
    display: block;
}

/** --------------------------------------
		Container
****--------------------------------------*/
#container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
    opacity: 1;
}
.loading #container {
    opacity: 0.2;
}

/** --------------------------------------
		Navigation
****--------------------------------------*/
#nav-container {
  position: absolute;
  z-index: 0;
  left: 0px; 
  top: 0px;
  padding: 0px; 
  width: 27.1%; 
  height: 100%;
  font-size: 1.4em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.nav-logo {
	font-size: 1em;
	margin: 1em 1em;
    width: 200px;
    height: 110px;
}
.nav-logo > span { 
    display: none; 
}
.nav-header {  
    padding: 2em 1.5em 0.5em 1.5em;
}
#nav-outer {
    margin-bottom: 3em;
}
.nav-section a, 
.nav-out a {
	font-size: 1.2em;
	display: block;
	padding: 0.5em 1.5em;	
}

.sharing-links { text-align: left; padding: 0.5em 1.5em; }
.sharing-links li { display: inline-block; }
.sharing-links li a span { display: none; }
.sharing { display: inline-block; width: 45px; height: 30px; cursor:pointer; }
.sharing.email, .white .sharing.email { background-position: 0 0; }
.sharing.facebook, .white .sharing.facebook { background-position: -45px 0; }
.sharing.twitter, .white .sharing.twitter { background-position: -90px 0; }

/** --------------------------------------
		Main
****--------------------------------------*/
#main-container {
  position: absolute; 
  z-index: 1; 
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate(0);
  -moz-transform: translate(0);    
  transform: translate(0);
  -webkit-transition: -webkit-transform .3s linear;
  -moz-transition: -moz-transform .3s linear;  	 
  transition: transform .3s linear;				  
}
.menu-open #main-container { 
  -webkit-transition: -webkit-transform .3s linear;
  -moz-transition: -moz-transform .3s linear;  	 
  transition: transform .3s linear;
  -webkit-transform: translate(27%);
  -moz-transform: translate(27%);
  transform: translate(27%);
}

/** --------------------------------------
		Header
****--------------------------------------*/
#header {
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	height: 3em;	
    padding: 18px 8px;
}
.nav-menu {	
    
}
a#btn-menu {	
	display: block;
	width: 60px;
	height: 50px;
	cursor: pointer;
}
a#btn-menu > span { 
  display: none;
}
.nav-prev, .nav-next {
	display: block;
}
a#btn-prev, a#btn-next {
	position: fixed;
    z-index: 1000;
    display: block;
	width: 60px;
	height: 50px;
	cursor: pointer;    	
	top: 50%;	
	margin-top: -25px;
}
a#btn-prev > span, a#btn-next > span { 
  display: none;
}
a#btn-prev {
    left: 0;
}
a#btn-next {
    right: 0;
}

/** --------------------------------------
		Section Swiper
****--------------------------------------*/
.swiper-container {	
	width:100%;
	height: 100%;
}
.swiper-wrapper {
    height:100%;
}
.swiper-slide {    
    position:relative;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    width:100%;
	height: 100%;
}
.menu-open .swiper-slide {	    
}
.swiper-slide-active {
}
.swiper-slide-visible {
}

/** --------------------------------------
		Section
****--------------------------------------*/
.section-header {
    position:absolute;
    z-index: 2;
    top: 2%;
    right: 2%;    
    width: 90%;
    text-align: right;
}
.section-header > h2 {
	font-size: 4em;
}
.section-header > p {
	font-size: 1.6em;
}
.section-visual {
    position: absolute;
    width: 100%;   
    height: 100%;
} 
.section-visual figcaption {
    display: inline-block;
    position: absolute;
    left: 0%;
    bottom: 10%;
    font-size: 1.1em;
	padding: 0.4em 1em;
    text-align: left;
}

/** --------------------------------------
		Article
****--------------------------------------*/
.article {
    font-size: 1rem;
    position: relative;    
}
.article-visual {    
    position:absolute;
    z-index: 1;
    width: 100%;
} 
.article-visual img {
    width: 100%;
}
.article-scroller {        
    position: relative;
    z-index: 2;
    overflow: auto;
    /*overflow-y:scroll;
    overflow-x:hidden;*/
    -webkit-overflow-scrolling:touch;
    -webkit-transform: translate3d(0, 0, 0);
    width: 100%;
    height: 100%;
}
.menu-open .article-scroller {
    overflow: hidden;
}
.article-content { 
    min-height: 100%;
    padding: 6em 12em; 
    margin-top: 30%;     
}
.article-header { 
    position:relative; 
    width: 100%; 
    height: 40px; 
    vertical-align: middle; 
}
.article-header h2 { 
    font-size:1.4em; 
    line-height: 40px; 
    position: absolute; 
    left: 0px; 
}
.article-header .sharing-links { 
    padding: 5px 0 0 0;  
    position: absolute;
    z-index: 2;
    right: 0px; 
}
.article-content h3 { 
    font-size:2.7em; 
    margin: 0.4em 0 0 0; 
}
.article-content h3.underline { 
    text-align: center;
    padding: 1em 0;    
    margin-bottom: 1em;
}
.article-content h4 { 
    font-size:1.8em; 
    margin: 0.2em 0 1em 0;
}
.article-content p { 
    font-size: 1.3em;
    line-height: 1.4em; 
    text-align: justify; 
    margin: 0 0 1em 0; 
}
.article-content p.insight {
	margin: 1em 0;
}
.article-content p.center { 
    text-align: center; 
}
.article-content p.actions {
    text-align: center;
    margin: 1.4em 0;
}
.article-content .show-video-btn {
    padding: 0.4em 1.2em;
    font-size: 0.8em;
}
.article-content blockquote { 
    font-size: 2.8em; 
    padding: 2% 0%; 
    display: block;    
    width: 50%;
}
.article-content legend { 
    font-family: Gotham-Book; 
    color: #000;
    font-size:1.3em;     
    padding: 10px 0px 10px 50px;
    text-align:left;
    margin-bottom: 20px;
    display: block;
    max-width: calc(100% - 50px);
    oveflow:hidden;
}
.article-content legend .legend-small {    
    font-size: 0.8em;
    color: #333;
    text-align:left;
}
.article-picture {
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 1em;    
}
.article-picture > img {
    width: 100%;
}
.article-picture > figcaption {
    padding: 0.5em 0;
    font-size: 0.8em;
    text-align: center;
}
.float-right {
    float: right;
    margin-left: 1em;
    text-align: right;
}
.float-left {
    float: left;
    margin-right: 1em;
    text-align: left;
}
.no-visual .article-scroller {    
    margin-bottom: 0%;    
}
.no-visual .article-content { 
    margin-top: 0%;         
}
.article-content .index {
    margin: 0 20%;
}
.article-content .index .article-header > span {
    float: right;
}
.article-content .index ul {
    margin: 1em 0 2em 0;
    text-align:center;
}
.article-content .index li {
    font-size: 1.6em;
}
.article-content .index li a {
    display: block;
    line-height: 2em;
}


/** --------------------------------------
    Movie
****--------------------------------------*/

#media-container {
  position: fixed;
  z-index: 500000;
  top: -100%;
  left: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #000;
  overflow: hidden;   
  opacity: 0;
  -webkit-transition: -webkit-transform .3s linear, opacity .6s linear;
  -moz-transition: -moz-transform .3s linear, opacity .6s linear;         
  transition: transform .3s linear, opacity .6s linear;           
}
#media-container.enabled {
  opacity: 1;
  -webkit-transform: translate(0,100%);
  -moz-transform: translate(0,100%);
  transform: translate(0,100%);
}
#media-container .media-menu {
  position: absolute;    
  top: 0px;
  left: 0px;
  padding: 18px 8px;
}
#media-close-btn {   
  display: block;
  width: 60px;
  height: 50px;        
  font-size: 2em;
  color: #fff;
  cursor: pointer;
}
#media-close-btn > span {
  display: none; 
}
#media-viewer {
    max-height: 100%;
    margin: 0 auto;
}
#media-container iframe {
  width: 100%;
  height: 100%;
}
#media-container.youtube #youtube-player {
    display: block;
}
#media-container.youtube #vimeo-player, 
#media-container.youtube #media-viewer {
    display: none;
}
#media-container.vimeo #vimeo-player {
    display: block;
}
#media-container.vimeo #youtube-player, 
#media-container.vimeo #media-viewer {
    display: none;
}
#media-container.media #media-viewer {
    display: block;
}
#media-container.media #youtube-player, 
#media-container.media #vimeo-player {
    display: none;
}

/** --------------------------------------
		Cover
****--------------------------------------*/
#cover {	
	position: relative;
}
.cover-video {
  position: absolute;
  top: 0%;
  left: 0%;    
  z-index: 0;
  width: 100%;
  height: 100%;    
}
.cover-sprite {
  position: absolute;  
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
.cover-header {
}
.cover-logo {
	margin: 0 auto;
	display: inline-block;
	width: 400px;
	height: 220px;
}
.cover-logo span {
	display: none;
}
.cover-content {		
	position: absolute;
	top: 1em;
	right: 1em;
	text-align: right;
    width: 60%;
}
.cover-content h1 {
	font-size: 3em;
}
.cover-content .date {
	font-size: 1.4em;
}
.nouvelle-formule {
	margin-top: 1.2em;
	display: inline-block;
	font-size: 1.2em;
	padding: 0.1em 0.2em;
}


/** --------------------------------------
		Toast
****--------------------------------------*/
.toast .number {
    text-align: center;
    font-size: 16em;
}

/** --------------------------------------
		Sucre Sale
****--------------------------------------*/
.sucre-sale .article-content {
    -moz-column-count:2;
    -moz-column-gap:2em;
    -webkit-column-count:2;
    -webkit-column-gap:2em;
    column-count:2;
    column-gap:2em;
}
.sucre-sale .article-header,
.sucre-sale .article-content h3, 
.sucre-sale .article-content h4 { 
    -webkit-column-span:all; 
    -moz-column-span:all; 
    column-span:all; 
    width: 100%;
}

/** --------------------------------------
		Plat du jour
****--------------------------------------*/

/** --------------------------------------
		Cafe Frappe
****--------------------------------------*/

.gallery {
    margin: 2em auto;
    text-align:center;
}
.gallery-item {
    display: inline-block;
    margin: 1em 1em 0 0;
    vertical-align: top;
    max-width: 100%;
}
.gallery-item a {
    display: block;    
}
.gallery-item-picture {
    position: relative;
}
.gallery-item-picture > figcaption {
    padding: 1em 0;
}
.cafe-frappe .article-content blockquote { 
    width: 100%;
}

/** --------------------------------------
		Addition
****--------------------------------------*/

#addition .article-content h3.underline { 
    text-align: center;
    padding: 1em 0;
    margin-bottom: 1em;
}
#addition .article-content p {
    text-align: center;
}
.social-links { 
    margin: 1em 0; 
    text-align: center;     
}
.social-links li { 
    display: inline-block; 
}
.social-links li a span { 
    display: none; 
}

/** --------------------------------------
		Social
****--------------------------------------*/
.social { display: block; width: 80px; height: 80px; }
.social.facebook { background-position: 0 0; }
.social.tumblr { background-position: -80px 0; }
.social.twitter { background-position: -160px 0; }

/** --------------------------------------
		Others screens
****--------------------------------------*/

/* Device Sprite */
.devices { display: block; width: 40px; height: 40px; }
.devices { background: url(img/devices-black-sprite.png) left bottom no-repeat; }
#devices{ display:none; position: fixed; bottom: 0; right: 0; z-index: 1000; }

/* Desktop Screens */
@media only screen and (min-width: 1025px) {

	.devices { background-position: 0 0; }
}

/* Desktop/Laptop Devices */

/* Tablet Screens */
@media only screen and (min-width: 641px) and (max-width: 1024px) {
    
}
@media only screen and (min-width: 641px) and (max-width: 1024px) and (orientation:landscape) {
  #nav-container { width: 37.1%; }
  .menu-open #main-container { 
  	-webkit-transform: translate(37%);
  	-moz-transform: translate(37%);
  	transform: translate(37%);
  }

  .devices { background-position: -80px 0; }   
}
@media only screen and (min-width: 641px) and (max-width: 1024px) and (orientation:portrait) {
  #nav-container { width: 45.1%; }
  .menu-open #main-container { 
  	-webkit-transform: translate(45%);
  	-moz-transform: translate(45%);
  	transform: translate(45%);
  }

  .devices { background-position: -40px 0; }
}
/* Tablet with Retina/HD Screens */
@media only screen and (min-device-width : 768px) and (-webkit-min-device-pixel-ratio: 2) {  
    
}

@media only screen and (max-width: 640px)  {
	#nav-menu {	
        padding: 0px 0px;
    }
    .cover-content h1 {
        font-size: 2em;
    }
    .cover-content .date {
        font-size: 1.2em;
    }
    .nouvelle-formule {
        margin-top: 1em;
        font-size: 1em;
    }
    .cover-logo {
		width: 300px;
		height: 165px;
	}	
    .article-content {         
        margin-top: 35%;
        padding: 2em 2em 4em 2em;
        text-align: left;
        background-size: 50px 91px; 
    }
    .article-content h3 {
       font-size:2.4em;   
    }    
    .article-content p { 
        font-size: 1.2em; 
        line-height: 1.3em;                  
    }
    .article-content blockquote { 
        font-size: 2em;
    }
    .article-header .sharing.facebook,
    .article-header .sharing.twitter {
        /*display: none;*/
    }   
    .article-content .index {
        margin: 0em 1em;
    }
    
    .sucre-sale .article-content {
        -moz-column-count:1;
        -moz-column-gap:0em;
        -webkit-column-count:1;
        -webkit-column-gap:0em;
        column-count:1;
        column-gap:0em;
    }
    .sucre-sale .article-content h3, 
    .sucre-sale .article-content h4 { 
        -webkit-column-span:all; 
        -moz-column-span:all; 
        column-span:all; 
        width: 100%;
    }
    
}
@media only screen and (max-width: 640px) and (orientation:portrait)  {    
	#nav-container { width: 85.1%; }
    .menu-open #main-container {
        -webkit-transform: translate(85%);
        -moz-transform: translate(85%);
        transform: translate(85%);
    } 

  .devices { background-position: -120px 0; } 
}  
@media only screen and (max-width: 640px) and (orientation:landscape) {
  #nav-container { width: 50.1%; }
  .menu-open #main-container { 
  	-webkit-transform: translate(50%);
  	-moz-transform: translate(50%);
  	transform: translate(50%);
  }    

  .devices { background-position: -160px 0; }
}



/* and (min-device-width : 768px) and (max-device-width : 1024px)  */

/*
@-webkit-keyframes FadeIn { 
  0% { opacity:0; -webkit-transform:scale(.1);}
  21.25% {opacity:1; -webkit-transform:scale(1.05);}
  25% {-webkit-transform:scale(1); }
}
@-webkit-keyframes FadeOut { 
  0% { opacity:1; -webkit-transform:scale(1);}
  21.25% {opacity:0; -webkit-transform:scale(0.1);}
  25% {-webkit-transform:scale(0); }
}
*/