/*
 * [WATF]* Magazine • Design CSS
 * Author: yohan.founs@valtech.fr
 * Last update: 2013-10-03
 */
@font-face{font-family:'Gotham';src:url("fonts/Gotham-Medium.otf") format("opentype");font-weight:normal;font-style:normal;font-variant:normal}
@font-face{font-family:'Gotham-Italic';src:url("fonts/Gotham-MediumItalic.otf") format("opentype");font-weight:normal;font-style:italic;font-variant:normal}
@font-face{font-family:'Gotham-Book';src:url("fonts/Gotham-Book.otf") format("opentype");font-weight:normal;font-style:normal;font-variant:normal}
@font-face{font-family:'Gotham-BookItalic';src:url("fonts/Gotham-BookItalic.otf") format("opentype");font-weight:normal;font-style:italic;font-variant:normal}
@font-face{font-family:'Gotham-Light';src:url("fonts/Gotham-Light.otf") format("opentype");font-weight:normal;font-style:normal;font-variant:normal;}
@font-face{font-family:'Gotham-Bold';src:url("fonts/Gotham-Bold.otf") format("opentype");font-weight:normal;font-style:normal;font-variant:normal}

body { font-family:Georgia; color: #000000; }
h1, h2, h3, h4, h5, h6 { font-family: 'Gotham'; font-weight: normal; }
dl, dd, dt { font-family: Optima; font-size: 0.9em; }
a { color: #000000; }
a:link { color: #000000; }
a:hover { color: #000000; }
a:active { color: #000000; }
nav li a span { color: #222222; }
nav li a:hover span, nav li a:active span { color: #888888; }
hr { background: url(img/header-centered-border.png) bottom center no-repeat; opacity:0.6; }

/** --------------------------------------
		Navigation
****--------------------------------------*/
#nav-container {
	background-color: #414446;
    background-image: url(img/background-texture.jpg);
    background-repeat:repeat;
	color: #ffffff;
}
#nav-container .nav-logo {	
    background: url(img/watf-logo-light.png);
}
#nav-container .nav-header {
    color: #969696;
    font-family: 'Gotham-Book'; 
	text-transform: uppercase;
}
#nav-container .nav-section a, 
#nav-container .nav-out a {
	color: #ffffff;
	font-family: 'Gotham-Book';
    font-weight: normal;
}

#loader {
    background-image: url(img/ajax-loader.gif);
}

/** --------------------------------------
		Main
****--------------------------------------*/
#main-container {
  background-color: #fff;
  -webkit-box-shadow: -2px 0px 15px rgba(0,0,0,0.6);
  -moz-box-shadow: -2px 0px 15px rgba(0,0,0,0.6);
  box-shadow: -2px 0px 15px rgba(0,0,0,0.6);
}
.menu-open #main-container { 	
}

/** --------------------------------------
		Header
****--------------------------------------*/
a#btn-menu, a#btn-prev, a#btn-next {
    background-image: url("img/watf-menu-sprite.png");
}
a#btn-menu {	
    background-position: 0px 0px;
}
a#btn-prev {
    background-position: 0px 100px;
}
a#btn-next {
    background-position: 0px 50px;   
}

/** --------------------------------------
		Section
****--------------------------------------*/
.section-header {
	background-repeat: no-repeat;	
	background-position: top right;
}
.section-header h2 {
	font-family: Georgia;    
	color: #fff;    
    font-style:normal;    
}
.section-header p {
	font-family: 'Gotham-Book';
    font-style:normal;
	color: #fff;
}
.section-visual {
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
}
.section-visual figcaption {
  font-family: 'Gotham-Book';
	font-size: 1em;
  background-color: rgba(255,255,255,0.6);
	color: #000000;
}

/** --------------------------------------
		Article
****--------------------------------------*/

.article {
	font-family: Georgia;
}
.article-content blockquote {
    font-family: Georgia; 
    font-weight: normal; 
    color: #ed6066;
}
.article-content {
    background-image: url(img/article-tampon.png);
    background-position:  center right;
    background-repeat: no-repeat;    
    background-color: rgba(255,255,255,0.97);
    -webkit-box-shadow: 0px 1px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 30px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 30px rgba(0,0,0,0.3);		
}
.article-header { 
    border-top: 1px solid #c9c9c9; 
    border-bottom: 1px solid #dcdcdc;
}
.article-header h2 {
    font-family: Georgia; 
    font-weight: normal;
    font-style: italic;
}
.article-content h3 {
	font-family: 'Gotham-Bold';		
	text-transform: uppercase;
}
.article-content h4 {	
}
.article-content p {
	font-family: Georgia;    
}
.article-content p.insight {
	font-family: 'Gotham';
    color: #ed6066;
}
.article-content legend {
    background-image: url(img/legend-star.png);
    background-position:  top left;
    background-repeat: no-repeat;    
}
.article-content legend {
    text-transform: uppercase;
}
.article-content legend .legend-small {    
    text-transform: none;
}
.article-content .show-video-btn {
    font-family: 'Gotham';    
    text-transform: uppercase;
    border-radius: 4px;
    color: #fff;
    background-color: #000;
}
.show-video-btn:active {
    background-color: #555454;
}
.underline {
    background: url(img/header-centered-border.png) bottom center no-repeat;
}
.article-picture > figcaption {
    color: #969696;
    font-family: 'Gotham-Book';
    font-weight: normal;
    text-transform:uppercase;
}

.article-content .index li a {
    font-family: "Gotham-Book";    
}
.article-content .index li a:hover,
.article-content .index li a:active {
    color: #ed6066;
}

#media-close-btn { 
  font-family: 'Gotham-BookItalic'; 
  background-image: url(img/close-button.png);
  background-repeat: no-repeat;    
}

/** --------------------------------------
		Cover
****--------------------------------------*/

.cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.cover-sprite {  
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 1500%;  
  -webkit-transform: translate3d(0,0,0);
     -moz-transform: translate3d(0,0,0);
      -ms-transform: translate3d(0,0,0);
       -o-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  -webkit-animation: anim-sprite 2.5s steps(14, end) infinite;
     -moz-animation: anim-sprite 2.5s steps(14, end) infinite;
      -ms-animation: anim-sprite 2.5s steps(14, end) infinite;
       -o-animation: anim-sprite 2.5s steps(14, end) infinite;
          animation: anim-sprite 2.5s steps(14, end) infinite;
}  
@-webkit-keyframes anim-sprite {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
@-moz-keyframes anim-sprite {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
@-ms-keyframes anim-sprite {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
@-o-keyframes anim-sprite {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
@keyframes anim-sprite {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

/** --------------------------------------
		Toast
****--------------------------------------*/

.toast .number {
    color: #ed6066;
    font-weight: bold;
}

/** --------------------------------------
		Cafe Frappe
****--------------------------------------*/

.gallery-item a:hover, 
.gallery-item a:active {
    -webkit-box-shadow: -2px 0px 15px rgba(0,0,0,0.6);
    -moz-box-shadow: -2px 0px 15px rgba(0,0,0,0.6);
    box-shadow: -2px 0px 15px rgba(0,0,0,0.6);
}

.gallery-item-picture > figcaption {
    background-color: rgba(255,255,255,0.8);
    color: #000;
    font-family: 'Gotham-Book';    
}

/** --------------------------------------
		Share
****--------------------------------------*/
.sharing { 
    background: url(img/sharing-sprite-black.png) left top no-repeat; 
}
.white .sharing { 
    background: url(img/sharing-sprite-white.png) left top no-repeat; 
}
.social { 
    background: url(img/social-sprite.png) left top no-repeat; 
}


/* Tablet with Retina/HD Screens */
@media only screen and (min-device-width : 768px) and (-webkit-min-device-pixel-ratio: 2) {  
    #nav-menu a.btn-menu {	
	   background-image: url("img/watf-menu@2x.png");
    }
}

@media only screen and (max-device-width: 1224px) {
    a#btn-prev, a#btn-next {
        width: 22px;
        height: 22px;
        top: 50%;
        margin-top: -11px;

        background-color:rgba(255,255,255, 0.8);
        -webkit-border-radius:40px;
        -moz-border-radius:40px;
        -ms-border-radius:40px;
        border-radius:40px;
    }
    a#btn-next {
        right: 2px;
    }
    a#btn-prev {
        left: 2px;
    }
    a#btn-prev, a#btn-next {
        background-image: url('img/watf-menu-sprite-mob.png');
    }

    a#btn-next {
        background-position: 0px -19px;
    }
    a#btn-prev {
        background-position: 0px 0px;
    }
}



