/*
 * [WATF]* Kiosk • Layout CSS
 * Author: yohan.founs@valtech.fr
 * Last update: 2013-03-27
 */

body { 
    font-size:1em;
    width: 100%;
    height: 100%;
}
img, video, figure { 
    max-width: 100%; 
}
hr { height: 4px; }

/** --------------------------------------
        Header
****--------------------------------------*/

.section-header {
    z-index: 100;
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
}
.logo {
    margin: 30px auto 0px auto;
    display: block;
    width: 250px;
    height: 150px;
}
.logo > span {
    display: none;
}

/** --------------------------------------
		Nav
****--------------------------------------*/
.pagination {
  position: fixed;
  z-index: 20;
  right: 10px;
  top: 40%;
}
.swiper-pagination-switch {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0 0px 10px; 
}

/** --------------------------------------
        Main
****--------------------------------------*/
#main-container {
  position: absolute; 
  z-index: 1; 
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/ 
  /*-webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  */               
}

/** --------------------------------------
        Section Swiper
****--------------------------------------*/
.swiper-container { 
    width:100%;
    height: 100%;
}
.swiper-wrapper {
}
.swiper-slide {    
    position:relative;    
    width:100%;
    height: 100%;     
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;   
}
.menu-open .swiper-slide {      
}
.swiper-slide-active {
}
.swiper-slide-visible {
}

/** --------------------------------------
    Media
****--------------------------------------*/
#media-container {
  position: fixed;
  z-index: 500000;
  top: -100%;
  left: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #000;
  overflow: hidden;   
  opacity: 0;
  -webkit-transition: -webkit-transform .3s linear, opacity .6s linear;
  -moz-transition: -moz-transform .3s linear, opacity .6s linear;
  transition: transform .3s linear, opacity .6s linear;           
}
#media-container.enabled {
  opacity: 1;
  -webkit-transform: translate(0,100%);
  -moz-transform: translate(0,100%);
  transform: translate(0,100%);
}
#media-container .media-menu {
  position: absolute;    
  top: 0px;
  left: 0px;
  padding: 18px 8px;
}
#media-close-btn {   
  display: block;
  width: 60px;
  height: 50px;        
  font-size: 2em;
  color: #fff;
  cursor: pointer;
}
#media-close-btn > span {
  display: none; 
}
#media-viewer {
    max-height: 100%;
    margin: 0 auto;
}
#media-container iframe {
  width: 100%;
  height: 100%;
}
#media-container.youtube #youtube-player {
    display: block;
}
#media-container.youtube #vimeo-player, 
#media-container.youtube #media-viewer {
    display: none;
}
#media-container.vimeo #vimeo-player {
    display: block;
}
#media-container.vimeo #youtube-player, 
#media-container.vimeo #media-viewer {
    display: none;
}
#media-container.media #media-viewer {
    display: block;
}
#media-container.media #youtube-player, 
#media-container.media #vimeo-player {
    display: none;
}


/** --------------------------------------
		Intro
****--------------------------------------*/
#intro {
}
#intro .cover-sprite {
  position: absolute;  
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
#intro article {      
    position: absolute;
    text-align: center;
    width: 100%;
    top: 10%;  
    font-size: 1em;
}
#intro .play-btn {
    margin: 1em auto;
    display: block;    
    width: 50px;
    height: 50px;
}
#intro .play-btn > span {    
    display: none;
}
#intro .keywords {
    margin: 2px auto;    
    width: 800px;
    position: relative;
    text-align: center;
    display: inline-block;
}
#intro .keyword {      
    text-align: center;    
    font-size: 2em;
}

#intro .scroll-down {
    display: block;
    position: absolute;
    bottom: 1%;    
    width: 100%;
    text-align: center;
}
#intro .scroll-link > span.arrow-down {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}
#intro .scroll-link > span.label {
    display: block;
    margin: 0.5em auto;
    padding: 0;
    font-size: 0.9em;   
}


/** --------------------------------------
		Kiosk
****--------------------------------------*/

#kiosk {   
}
.issues-scroller {
    position: absolute;
    width: 100%;
    height: 100%;    
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling:touch;    
} 
.issues {
    width: 100%;        
    padding: 0px 2em;
    text-align: center;
    white-space:nowrap;
    margin-top: 200px;
}
.issue-item {     
    vertical-align: top;
    display: inline-block;    
    margin: 0 5% 0 0;
    width: 217px;  
    text-align: center;   
    white-space:normal; 
}
.issue-item-link {
    display: block;    
}
.issue-cover {
    position: relative;
}
.issue-item-title {    
}
.issue-item-title .number {
    position: absolute;
    padding: 0em 0.5em 0em 0.5em;
    text-align: left;
    top: 10px;
    right: -1px;
}
.issue-cover .number.new {
  padding: 0em 0.5em 0.2em 0.5em;
}
.issue-item-title h3 {    
    text-align: center; 
    white-space:normal;    
    margin: 1em 0 0.5em 0;
}
.issue-item-title h3 > span {    
    display: block;
}
.issue-item-title h3 .title-top {    
    font-size: 1.45em;
}
.issue-item-title h3 .title-middle {
    font-size: 1.7em;    
    padding-top: 3px;
}
.issue-item-title h3 .title-bottom {
    font-size: 2.9em;
}
.issue-item-title .date {
    font-size: 1em;
    padding: 0.3em 0;
    margin: 0 0.5em;
}
 

/** --------------------------------------
		Infos
****--------------------------------------*/
#infos article {    
    width: 600px;    
    margin: 200px auto 0 auto;    
}
#infos article p {
    font-size: 1.4em; 
    margin: 1em; 
    text-align: center;
    line-height: 1.3em;
}
#infos article p.valtech {    
    text-align: center;
    margin: 0;
}
#infos article p.copy {
    font-size: 0.8em;
    text-align: center;
    margin: 0;
}

/** --------------------------------------
		Footer
****--------------------------------------*/

#footer {
    width: 100%;
    position: fixed;
    z-index: 0;
    bottom: 2em;
    text-align: center;
}

/** --------------------------------------
		Social
****--------------------------------------*/

/* Socials sprite */
.social { display: block; width: 80px; height: 80px; }
.social.facebook { background-position: 0 0; }
.social.tumblr { background-position: -80px 0; }
.social.twitter { background-position: -160px 0; }
.social-links { margin: 0; text-align: center; }
.social-links li { display: inline-block; }
.social-links li a span { display: none; }

/* Device Sprite */
.devices { display: none; width: 40px; height: 40px; }
.devices { background: url(img/devices-black-sprite.png) left bottom no-repeat; }
#devices{ display: block; position: fixed; bottom: 0; right: 0; z-index: 10; }

/** --------------------------------------
		Multi-Screens
****--------------------------------------*/
/* Tablet size */
@media only screen and (min-width: 641px) and (max-width: 1024px) { 
    #intro .scroll-down {
        bottom: 5%;
    }
    .devices { background-position: -80px 0; }
}
/* Desktop size */
@media only screen and (min-width: 1025px) {    
    .devices { background-position: 0 0; }
}
/* Desktops, laptops Devices */
@media only screen and (min-device-width: 1224px) { 
}

/* Phone size */
@media only screen and (max-width: 640px) {  
    .logo {
        margin-top: 10px;
        width: 125px;
        height: 75px;
    }  
    #intro article { 
        font-size: 0.5em;
    }
    #intro .keywords {
        width: 320px;
    }
    #intro .keyword {
        width: 320px;
    }
	.issues {
        margin-top: 100px;
    }
    .issue-item { 
        margin: 0 10% 0 0;
        width: 160px;          
        font-size: 1em;
    }
    .issue-cover figcaption {    
        padding: 1em 0;    
    }
    .issue-item h3 {    
        margin: 0.2em 0;
        font-size: 0.7em;
    }
    .issue-item .title-top {    
        font-size: 1.45em;
    }
    .issue-item .title-middle {
        font-size: 1.7em;    
        padding-top: 3px;
    }
    .issue-item .title-bottom {
        font-size: 2.9em;
    }
    .issue-item .date {
        font-size: 0.8em;
        padding: 0.3em 0;
    }
    .issue-item .number {
        position: absolute;
        padding: 2px;
        top: 10px;
        right: -1px;
    }
    #infos article {    
        width: 90%;    
        margin: 100px auto 0 auto;    
    }
    #infos article p {
        letter-spacing: 0px;
        font-size: 0.9em;
    }
    .social-links { margin: -10px; }
	.devices { background-position: -120px 0; }
}
@media only screen and (max-width: 640px) and (orientation: landscape) {
    .issues {
        padding: 50px 2em 0px 2em;
    }
    .issue-item { 
        margin: 0 10% 0 0;
        width: 120px;          
        font-size: 0.8em;
    }
}


