/*
 * [WATF]* Kiosk • Design CSS
 * Author: yohan.founs@valtech.fr
 * Last update: 2013-03-27
 */

/** --------------------------------------
		Fonts
****--------------------------------------*/
@font-face{font-family:'Gotham';src:url("fonts/Gotham-Medium.otf") format("opentype");font-weight:normal;font-style:normal;font-variant:normal}
@font-face{font-family:'Gotham';src:url("fonts/Gotham-MediumItalic.otf") format("opentype");font-weight:normal;font-style:italic;font-variant:normal}
@font-face{font-family:'Gotham-Book';src:url("fonts/Gotham-Book.otf") format("opentype");font-weight:normal;font-style:normal;font-variant:normal}
@font-face{font-family:'Gotham-Book';src:url("fonts/Gotham-BookItalic.otf") format("opentype");font-weight:normal;font-style:italic;font-variant:normal}
@font-face{font-family:'Gotham-Light';src:url("fonts/Gotham-Light.otf") format("opentype");font-weight:normal;font-style:normal;font-variant:normal;}
@font-face{font-family:'Gotham-Bold';src:url("fonts/Gotham-Bold.otf") format("opentype");font-weight:normal;font-style:normal;font-variant:normal}
@font-face{font-family:'GildaDisplay';src:url("fonts/GildaDisplay-Regular.ttf") format("truetype");font-weight:normal;font-style:normal;font-variant:normal}

body { font-family: Georgia; color: #000; }

h1, h2, h3, h4, h5, h6{ font-family: 'Gotham'; }
dl, dd, dt { font-family: Georgia; font-size: 0.9em; }
a { color: #000000; }
a:link { color: #000000; }
a:hover { color: #000000; }
a:active { color: #000000; }
hr { background: url(img/header-centered-border.png) bottom center no-repeat; opacity:0.9; }

/** --------------------------------------
		Header
****--------------------------------------*/
.logo {
    background-image: url(img/watf-logo-sprite-250x150.png);
    background-repeat: no-repeat;
}
.logo.dark {
    background-position: 0px 0px;
}
.logo.light {
    background-position: -250px 0px;
}
.logo.red {
    background-position: -500px 0px;
}

/** --------------------------------------
		Nav
****--------------------------------------*/
.swiper-pagination-switch {
  border-radius: 12px;
  background: #555;
  opacity: 0.8;  
  cursor: pointer;
}
.swiper-active-switch {
  background: #ccc;
}

/** --------------------------------------
        Media
****--------------------------------------*/
#media-close-btn { 
  font-family: 'Gotham-BookItalic'; 
  background-image: url(img/close-button.png);
  background-repeat: no-repeat;    
}

/** --------------------------------------
		Intro
****--------------------------------------*/
#intro {
    background-color: rgba(0,0,0,0.99);
    color: #fff;
    background-image: url(img/watf-intro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}
#intro .cover-sprite {  
    background-image: url(img/kiosk-hd-cover-1136x768.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 1500%;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);  
}  
#intro.swiper-slide-active .cover-sprite {  
    -webkit-animation: anim-sprite 2.5s steps(14, end) 2s forwards;
    -moz-animation: anim-sprite 2.5s steps(14, end) 2s forwards;
    animation: anim-sprite 2.5s steps(14, end) 2s forwards;  
}
@-webkit-keyframes anim-sprite {
  0% { background-position: 0% 0; }
  100% { background-position: 100% 0; }
}
@-moz-keyframes anim-sprite {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
@keyframes anim-sprite {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

#intro .play-btn {
    background-image: url(img/play-white.png); 
    background-color: rgba(0,0,0,0.5);
    background-repeat:  no-repeat;
    background-position: center center;
    border-radius: 50px;
    opacity: 0;    
    -webkit-animation: ButtonFadeIn 2s ease 9.5s forwards;
    -moz-animation: ButtonFadeIn 2s ease 9.5s forwards;
    animation: ButtonFadeIn 2s ease 9.5s forwards;
}
#intro .play-btn:hover, .play-btn:active {
    background-color: rgba(0,0,0,0.8);
}

#intro .scroll-down span.label {
    font-family: 'Gotham-Book';    
    font-weight: normal;
    letter-spacing: 2px;
    color: rgba(255,255,255,0.8);
    -webkit-text-shadow: 0px 2px 10px rgba(0,0,0,1.0);
    -moz-text-shadow: 0px 2px 10px rgba(0,0,0,1.0);
    text-shadow: 0px 1px 2px rgba(0,0,0,1.0);
}
#intro .scroll-down span.arrow-down {
    opacity: 0;
}
#intro.swiper-slide-active .scroll-down span.arrow-down {
    -webkit-animation: ButtonFadeIn 2s ease 0.5s forwards;
    -moz-animation: ButtonFadeIn 2s ease 0.5s forwards;
    animation: ButtonFadeIn 2s ease 0.5s forwards;
}
#intro .scroll-down span.arrow-down {
    background-image: url(img/arrow-down-white.png); 
    background-color: rgba(0,0,0,0.5);
    background-repeat:  no-repeat;
    background-position: 0px 0px;
    border-radius: 50px;    
}
#intro .scroll-down:hover span.arrow-down, 
#intro .scroll-down:active span.arrow-down {
    background-color: rgba(0,0,0,0.8);
}

#intro .keyword {    
    font-family: 'Gotham-Book';
    text-transform: uppercase;
    font-weight: normal;
    color: rgba(255,255,255,0.9);
    letter-spacing: 0.4em;
    opacity: 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);    
}
#intro.swiper-slide-active .keyword {
    -webkit-animation-name: FadeIn;
    -webkit-animation-duration: 1s;    
    -webkit-animation-iteration-count: 2; 
    -webkit-animation-direction: alternate;
    -moz-animation-name: FadeIn;
    -moz-animation-duration: 1s;    
    -moz-animation-iteration-count: 2; 
    -moz-animation-direction: alternate;
    animation-name: FadeIn;
    animation-duration: 1s;    
    animation-iteration-count: 2; 
    animation-direction: alternate;
}
.keywords p:nth-child(1) {
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    animation-delay: 5s;
}
.keywords p:nth-child(2) {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    animation-delay: 6s;
}
.keywords p:nth-child(3) {
    -webkit-animation-delay: 7s;
    -moz-animation-delay: 7s;
    animation-delay: 7s;
}
.keywords p:nth-child(4) {
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    animation-delay: 8s;
}
@-webkit-keyframes FadeIn { 
    0% {
        opacity: 0;
        text-shadow: 0 0 60px rgba(255,255,255,1.0);
    }
    50% {
        opacity: 0.5;
        text-shadow: 0 0 10px rgba(255,255,255,0.6);
    }
    100% {
        opacity: 0.9;
        text-shadow: 0 0 1px rgba(255,255,255,0.8);
    }
}
@-moz-keyframes FadeIn { 
    0% {
        opacity: 0;
        text-shadow: 0 0 60px rgba(255,255,255,1.0);
    }
    50% {
        opacity: 0.5;
        text-shadow: 0 0 10px rgba(255,255,255,0.6);
    }
    100% {
        opacity: 0.9;
        text-shadow: 0 0 1px rgba(255,255,255,0.8);
    }
}
@keyframes FadeIn { 
    0% {
        opacity: 0;
        text-shadow: 0 0 60px rgba(255,255,255,1.0);
    }
    50% {
        opacity: 0.5;
        text-shadow: 0 0 10px rgba(255,255,255,0.6);
    }
    100% {
        opacity: 0.9;
        text-shadow: 0 0 1px rgba(255,255,255,0.8);
    }
}
@-webkit-keyframes ButtonFadeIn { 
    0% {
        opacity: 0;
        box-shadow: 0 0 20px rgba(255,255,255,0.1);
    }
    50% {
        opacity: 0.5;
        box-shadow: 0 0 60px rgba(255,255,255,0.9);
    }    
    100% {
        opacity: 0.9;
        box-shadow: none;
    }
}
@-moz-keyframes ButtonFadeIn { 
    0% {
        opacity: 0;
        box-shadow: 0 0 20px rgba(255,255,255,0.1);
    }
    50% {
        opacity: 0.5;
        box-shadow: 0 0 60px rgba(255,255,255,0.9);
    }    
    100% {
        opacity: 0.9;
        box-shadow: none;
    }
}
@keyframes ButtonFadeIn { 
    0% {
        opacity: 0;
        box-shadow: 0 0 20px rgba(255,255,255,0.1);
    }
    50% {
        opacity: 0.5;
        box-shadow: 0 0 60px rgba(255,255,255,0.9);
    }    
    100% {
        opacity: 0.9;
        box-shadow: none;
    }
}


/** --------------------------------------
		Kiosk
****--------------------------------------*/
#kiosk {
    background: rgba(255,255,255,1.0);
}
.issue-item-link:hover img, 
.issue-item-link:active img {
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}
.issue-item-link:hover .title-middle, 
.issue-item-link:active .title-middle { 
    color: #ed6066;
}
.issue-item-title {
    cursor: pointer;
    font-weight: normal;    
}
.issue-cover .number {
    color: rgba(255,255,255,0.9);
    font-family: 'Gotham-Book';    
    background-color: rgba(0,0,0,1.0);
}
.issue-cover .number.new {
    background-color: rgba(237,96,102,1.0);
    text-transform: lowercase;
}
.issue-item-title h3 {    
    color: #000;    
    text-transform: uppercase;
}
.issue-item-title h3 span {
}
.issue-item-title h3 .title-top {    
    font-family: 'Gotham';
}
.issue-item-title h3 .title-middle {
    font-family: 'Gotham-Book';   
}
.issue-item-title h3 .title-bottom {
    font-family: "Georgia";   
}
.issue-item-title .date { 
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #dcdcdc;
    color: #333;
    font-family: 'Georgia';
    font-style: italic;
    font-weight: normal;
}

/** --------------------------------------
		Infos
****--------------------------------------*/
#infos {
    /*background-color: rgba(237,96,102,1.0);  */    
    background: rgba(255,255,255,1.0);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 40%, rgba(0,0,0,0.05) 60%, rgba(0,0,0,0.15) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 40%, rgba(0,0,0,0.05) 60%, rgba(0,0,0,0.15) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 40%, rgba(0,0,0,0.05) 60%, rgba(0,0,0,0.15) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 40%, rgba(0,0,0,0.05) 60%, rgba(0,0,0,0.15) 100%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,0) 40%, rgba(0,0,0,0.05) 60%, rgba(0,0,0,0.15) 100%);    
}
#infos article {
    color: #000;
}
#infos article p {
    font-family: 'Gotham';
    text-transform: uppercase;
    font-weight: normal;
}
#infos article p span { 
    font-family: "GildaDisplay", serif;
    font-style: italic;
}   
#infos article p.copy {
    font-family: 'Gotham-Light';
    text-transform: lowercase;
}

/** --------------------------------------
        Footer
****--------------------------------------*/
.bt-facebook { 
    background: rgba(255,255,255,.6); 
    border-radius: .25rem; 
	-moz-box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0,0,0,.2), inset 0 .25rem 1rem rgba(0,0,0,.1);
  	-webkit-box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0,0,0,.2), inset 0 .25rem 1rem rgba(0,0,0,.1);
  	box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0,0,0,.2), inset 0 .25rem 1rem rgba(0,0,0,.1);
}

.social { background: url(img/social-sprite-plain.png) left top no-repeat; }

/* Portrait */
@media only screen and (orientation: portrait) {
    #intro .cover-sprite { 
        background-image: url(img/kiosk-hd-cover-768x1136.jpg);
    }
}

/* Phone size */
@media only screen and (max-width: 640px) {  
    .logo {
        background-image: url(img/watf-logo-sprite-125x75.png);
    }
    .logo.light {
        background-position: -125px 0px;
    }
    .logo.red {
        background-position: -250px 0px;
    }
    #infos { 
        background-size: 250%;
    }
}


