/*
 * [WATF]* Magazine • Layout CSS
 * Author: yohan.founs@valtech.fr
 * Last update: 2013-05-17
 */
html{height:100%}
body{ width:100%; height:100%; overflow:hidden; font-size:1em; }
img, video, figure { max-width: 100%; }
#book{ width:100%; height:100%; overflow:hidden; font-size:1em }
.book-wrapper{ white-space:nowrap;font-size:0;height:100%;-webkit-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-webkit-transition:-webkit-transform 0s cubic-bezier(0.250,0.100,0.250,1.000);transform:translate3d(0,0,0);transition:transform 0s cubic-bezier(0.250,0.100,0.250,1.000);}
.sliding .book-wrapper {-webkit-transition:-webkit-transform 1s cubic-bezier(0.230,1.000,0.320,1.000);transition:transform 1s cubic-bezier(0.230,1.000,0.320,1.000);}
.swiping .book-wrapper{-webkit-transition:-webkit-transform .5s cubic-bezier(0.250,0.100,0.250,1.000);transition:transform .5s cubic-bezier(0.250,0.100,0.250,1.000);}
.cancelling .book-wrapper{-webkit-transition:-webkit-transform .5s cubic-bezier(0.215,0.610,0.355,1.000);transition:transform .5s cubic-bezier(0.215,0.610,0.355,1.000);}
/* Sections */
section{ position:relative; display:inline-block; vertical-align:top;width:100%; height:100%; overflow:hidden; font-size: 1em;}
section .book-page {-webkit-backface-visibility:hidden; -webkit-transform:translate3d(0,0,0); -moz-backface-visibility:hidden; -moz-transform:translate3d(0,0,0); backface-visibility:hidden; transform:translate3d(0,0,0); -webkit-overflow-scrolling:touch; overflow:scroll; display:inline-block; vertical-align:top; width:100%; height:100%; white-space:normal; font-size:1rem;
}
section .page-content { padding: 2em 4em; }

section header { margin-top: 3%; padding: 0; vertical-align: middle; height: 40px; position: relative;}
section header h2 { padding: 5px 0 0 0;	font-size:1.5rem; position: absolute; /*left: -16px;*/ left: 0;}
section header h2 div { margin-top: -10px; }
section header h2 div span { display: none; }
section header h3 {	padding: 12px 0 0 0; text-align: right; font-size:0.8rem; }
section header ul {padding: 5px 0 0 0;  position: absolute; right: 0px; }
section header ul li { display: inline-block; }
section header ul li a { cursor: pointer; }
section header ul li a > span { display: none; }

section article { margin: 1% 0; clear: both; }
section article h2, section article h3 { -webkit-column-span:all; -moz-column-span:all; column-span:all; }
section article h2 { font-size:2.7em; margin: 2% 0%; }
section article h3 { font-size:1.8em; margin: 2% 0 2% 0; }
section article p { font-size:1.1em; line-height: 1.4em; text-align: justify; margin: 0 0 1em 0; }
section article blockquote { font-size: 2.8em; padding: 4% 0; float: left; margin: 0 0 10px 0; text-align: left;}
section article figure { margin: 10px 0; text-align: center; }
section article figure img { border: 5px solid #fff; }
section article figure figcaption { font-size: 13px; margin: 10px 0; }
section article legend { font-size:1em; }
section aside { }
section footer { clear: both; font-size:0.9em; margin-bottom: 5em; }
section footer p { margin-top: 10px; }

/* Article centered content */

section article h2.centered { text-align: center; padding: 0 0 10px 0; }
section article h3.centered { text-align: center; }

/* Article with columns */

section article.columns { -moz-column-count:2;-moz-column-gap:2em;-webkit-column-count:2;-webkit-column-gap:2em;column-count:2;column-gap:2em; }
section article.columns h2, section article.columns h3 { -webkit-column-span:all; -moz-column-span:all; column-span:all; width: 100%; }

/* Sections with visual */

section.visual .book-page { margin-bottom: 35%; }
section.visual .page-content { margin-top: 35%; }
section.visual .book-page a.card { position: absolute; display: block; width: 100%; height: 40%; cursor: pointer; }
section.visual > figure { position: absolute; display: block; left: 0; right: 0; top: 0; /*bottom: 25%;*/ z-index: -5; }
section.visual > figure img { width: 100%; }
/*section.visual > figure > figcaption { display: block; position: absolute; right: 5%; top: 5%; width: 157px; height: 132px; }
section.visual > figure > figcaption > span { display: block; margin: 20px 0 0 40px;-webkit-transform: rotate(-17deg);-moz-transform: rotate(-16deg);transform: rotate(-16deg);font-size: 70px;}*/

.page-content div.tampon {clear: both;position: absolute;right: 0;width: 100px;height: 182px;}

.center { text-align: center; }
.center p { text-align: center; }
.invisible { display: none; }
/*.center figure { margin-top: 60px; }
.center p { margin: 5% auto; width: 260px; margin-bottom: 20px;}*/

/* Navigation */

nav #menu-index { display: block; position: fixed; top: -10px; left: -30px; width: 153px; height: 104px; }
nav #menu-prev, 
nav #menu-next {display: none; position: fixed; top: 50%; margin-top: -35px; width: 29px; height: 70px; z-index: 1000; cursor: pointer; }
nav #menu-prev { left: 0px; }
nav #menu-next { right: 0px; }

/* Categories sprite */

.categories { display: inline-block;width: 230px;height: 50px;	}
.categories.toast { background-position: 0 0; }
.categories.sucresale { background-position: -230px 0; }
.categories.fooding { background-position: -460px 0; }
.categories.cafefrappe { background-position: -690px 0; }

/* Socials sprite */

.social { display: block; width: 80px; height: 80px; }
.social.facebook { background-position: 0 0; }
.social.tumblr { background-position: -80px 0; }
.social.twitter { background-position: -160px 0; }

/* Sharing sprite */

.sharing { display: inline-block; width: 45px; height: 30px; }
.sharing.email { background-position: 0 0; }
.sharing.facebook { background-position: -45px 0; }
.sharing.twitter { background-position: -90px 0; }

/* Cover */
.cover .cover-background { }
.cover .cover-logo { position: absolute; top: 20px; left: -10px; z-index: 1000; display: block; }
.cover .cover-logo a > img {  
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    transition: all 200ms linear;
    -webkit-transform: translate3d(0);
    -moz-transform: translate3d(0);
    transform: translate3d(0);
}
.cover .cover-logo a:hover > img  {
	-webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    transform: scale(0.95);
}
.cover .cover-ticket { position: absolute; width: 295px; height: 570px; bottom: 0px; right: 30px; z-index: 2000; }
.cover .cover-ticket a > img { 
	position: absolute; z-index: 1000;
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    transition: all 200ms linear;
    -webkit-transform: translate3d(0);
    -moz-transform: translate3d(0);
    transform: translate3d(0);    
}
.cover .cover-ticket a:hover > img  {
	-webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}
.cover .cover-ticket a div.cover-titles { 
	display: block;
	position: absolute; z-index: 2000;
	font-size: 1rem;		
	width: 190px;
	top: 355px;	left: 38px;	
	white-space: normal;
	-moz-transform:rotate(8deg);
	-webkit-transform:rotate(8deg);
	transform:rotate(8deg); 
}
.cover .cover-ticket a div.cover-titles h2 { height: 80px; margin-bottom: 5px; } 

/* Index */

.index .index-logo { position: absolute; display: block; left: -10px; top: 5px; width: 153px;}
.index h1 { font-size:3em; text-align: center;}
.index .index-date { font-size:1em; text-align: center;}
.index .index-theme { font-size:1.5em; text-align: center;}
.index ul { clear: both; padding: 0; margin: 10px 0; }
.index ul li { display: inline-block; margin: 0 5px 10px 0; padding:0px; vertical-align: top;}
.index ul li a { display: block; width: 243px; padding: 0; }
.index ul li a > figure { width: 233px; }
.index ul li a > figure img { /*width:100%;*/ width: 233px; border: 0;}
.index ul li a h4 { margin: 10px; text-overflow: ellipsis; overflow: hidden; }
.index ul li a p { margin: 10px; padding: 0; }
.index ul li:last-child { margin: 0 0 10px 0; }

.social-links { margin: 1em 0; text-align: center; }
.social-links li { display: inline-block; }
.social-links li a span { display: none; }

/* Gallery */

ul.gallery { padding: 0; margin: 10px 0; }
ul.gallery li { display: inline-block; margin: 0 20px 20px 0; padding:0px; vertical-align: top; }
ul.gallery li a { display: block; padding: 0; width: 200px; }
ul.gallery li a figure figcaption { font-size: 1em; text-transform: uppercase; }
ul.gallery li a figure figcaption span.date { font-size: 0.9em; color: gray; text-transform:lowercase; }

/* Popup */

#cards {
	display: block;
	opacity:0; position:absolute; 
	top:0; left:0; right:0; bottom:0;
	overflow:hidden; z-index: 5000;
	-webkit-transform:translate3d(0,0,0); 
	-webkit-transition:opacity .3s cubic-bezier(0.550,0.085,0.680,0.530);
	transform:translate3d(0,0,0); 
	transition:opacity .3s cubic-bezier(0.550,0.085,0.680,0.530);
}
#cards.active {
	opacity:1; 
	-webkit-transition:opacity .2s cubic-bezier(0.420,0.000,0.580,1.000);
	transition:opacity .2s cubic-bezier(0.420,0.000,0.580,1.000);
}
#cards ul { text-align:center; margin-top: 20px; white-space:nowrap; font-size:0; }
#cards li { display: none; }
#cards li a figure figcaption { 
	position: absolute; bottom: 0; left: 0; right: 0; z-index: 6000; vertical-align: bottom;
	text-align: center; padding: 0.7em;
	font-size: 0.7rem;	
}
#cards li.focus { display: block; }
#cards li.focus a img { max-width: 100%; max-height: 100%; width: auto; height: auto !important; cursor: pointer;}

#help { 	
	position:absolute; top:0; left:0; right:0; bottom:0;
	opacity:1; overflow:hidden; z-index: 5000;
	-webkit-transition:opacity .1s cubic-bezier(0.420,0.000,0.580,1.000);
	transition:opacity .1s cubic-bezier(0.420,0.000,0.580,1.000);
}
#help.desactive {  
	opacity:0; 
	-webkit-transform:translate3d(0,0,0); 
	-webkit-transition:opacity 2s cubic-bezier(0.550,0.085,0.680,0.530);
	transform:translate3d(0,0,0); 
	transition:opacity 2s cubic-bezier(0.550,0.085,0.680,0.530);
}
#help p { position: absolute; font-size: 2em; }
#help p.gohome { top: 20px; left: 20px; width: 50%; height: 50%; }
#help p.gonext { bottom: 50%; left: 40%; }
#help p.goindex { bottom: 20px; right: 20px; }

/* Device Sprite */

.devices { display: block; width: 40px; height: 40px; }
.devices { background: url(img/devices-black-sprite.png) left bottom no-repeat; }
#devices{ display: none; position: fixed; bottom: 0; right: 0; z-index: 10; }

/* ================================================================================================ //
	MEDIA QUERIES - responsive liquid flexible design layout for customer multiscreen experience :-) 
// ================================================================================================ */

/* Tablet size - DEFAULT */

@media only screen and (min-width: 481px) and (max-width: 1024px) {	
	/*#cards li.focus section img { max-height: 1024px; }*/
	
	@-webkit-keyframes cover-travelling {
		0% { -webkit-transform: translateX(0%) translateY(0%); }
		50% { -webkit-transform: translateX(35%) translateY(10%); }
	}
	.devices { background-position: -80px 0; }
}

/* Desktop size */

@media only screen and (min-width: 1025px) {
	section article.columns { -moz-column-count:3;-webkit-column-count:3;column-count:3; }
	section .page-content { padding: 3em 6em; }
	section article h3 {margin-bottom: 4%;}

	.devices { background-position: 0 0; }
}

/* Desktops, laptops and Large screens */

@media only screen and (min-device-width: 1224px) {
	nav #menu-prev { display: block; }
	nav #menu-next { display: block; }	
}

/* Phone size */

@media only screen and (max-width: 480px) {
	section article.columns {-moz-column-count:1;-webkit-column-count:1;column-count:1;-moz-column-gap:0;-webkit-column-gap:0;column-gap:0;}
	section .page-content{ padding: 1em 2em; }
	section.visual > figure > figcaption > span { font-size: 50px; }
	section header ul { right: -10px; }
	section article h2 { font-size:1.6em; }
	section article h3 { font-size:1.4em; margin-bottom: 8%;}
	section article p { font-size:1.0em; text-align: left; }
	section blockquote { font-size: 2.1em; }
	section article blockquote { font-size: 2em; }
	section footer { font-size:0.9em; }
	nav #menu-index { left: -15px; width: 85px; top: -5px; }

	.page-content div.tampon { display: none; }

	.cover .cover-logo { width: 220px; left: -5px; }
	.cover .cover-ticket { width: 180px; bottom: -350px;}
	.cover .cover-ticket a { display: block; }
	.index .index-logo { width: 85px; }
	.index h1 { font-size:2em;}
	.index .index-theme { font-size:1.4em; }
	.index header h3 { display: none; }	
	.index ul { margin-left: 0px; }
	.index ul li a { width: 118px;}
	.index ul li a h4 { font-size: 0.8em; }
	.index ul li a > figure { width: 108px; }
	.index ul li a > figure img { width: 108px; }

	ul.gallery li { margin: 0 10px 10px 0; }
	ul.gallery li a { width: 115px; }
	ul.gallery li a > figure img {  width: 108px; }

	.sharing.facebook, .sharing.twitter { display: none; } 
	
	.edito .page-content article { padding: 2em 0em; }

	.devices { background-position: -120px 0; }
}

.toolbar { position: fixed; z-index: 10000; top: 0.4em; right: -10px;
	background-color:rgba(0,0,0,.5); color: #fff; padding: 0.4em 0.8em 0.4em 0.4em; border-radius: 10px;
	-moz-box-shadow: 2px 1px 10px 0px #999999;-webkit-box-shadow: 2px 1px 10px 0px #999999;box-shadow: 2px 1px 10px 0px #999999;	
}
.toolbar input { font-family: Helvetica; font-size: 1em; text-transform: capitalize; }
.loader-default {background: none;filter: Alpha(Opacity=18);opacity: .18;width: 46px;height: 46px;margin-left: -23px;margin-top: -23px;}
.loader {display: none;z-index: 9999999;position: fixed;top: 50%;left: 50%;border: 0;}
.loader .icon {background-color: #000;display: block;margin: 0;width: 44px;height: 44px;padding: 1px;-webkit-border-radius: 36px;-moz-border-radius: 36px;border-radius: 36px;}
.icon-loading {background: url(images/ajax-loader.gif);background-size: 46px 46px;}
