@import url("../css/reset.css");
@import url("../css/layout.css");
@import url("../css/design.css");

/* cover */

.cover { position: relative; }
.cover .cover-background { 
	position: absolute; bottom: 0px; right: 0px; z-index: -1000;
	max-width: 4000%; max-height: 4000%; 
	min-height: 100%;
}
.cover .cover-background img { display: inline-block; }
.activated .animated { 
	-webkit-animation: cover-travelling 50s infinite linear;
	animation: cover-travelling 50s infinite linear;
}
@-webkit-keyframes cover-travelling {	
	from { -webkit-transform: translateX(0%); }
	to { -webkit-transform: translateX(50%); }	
}
@keyframes cover-travelling {
	from { transform: translateX(0%); }
	to { transform: translateX(50%); }
}

/* Phone size */
@media only screen and (max-width: 480px) {
	.cover .cover-background {		
	}
}

