@import url("../css/reset.css");
@import url("../css/layout.css");
@import url("../css/design.css");

/* cover */
.cover { position: relative; }
.cover .cover-background > img { position: absolute; bottom: 0px; right: 0px;
	min-width:100%; min-height:100%; max-height:4000%; max-width:1000%;
	width: auto; height: auto; z-index: -1000; overflow: hidden;	
}
.cover .cover-logo > a { display: block; position: absolute; top: 20px; left: -20px; z-index: 1000; }
.cover img#cover-ticket { position: absolute; bottom: 0px; right: 20px; z-index: 2000;}

/* Phone size */
@media only screen and (max-width: 480px) {
	.cover .cover-logo > a { width: 220px; left: 10px;}
	.cover .cover-ticket > img { width: 180px; bottom: -140px;}
}