@import url("/css/reset.css");
@import url("/css/idangerous.swiper.css");
@import url("/css/issue-layout.css");
@import url("/css/issue-design.css");

/** --------------------------------------
 *
 *  Specific styles for the issue.
 *
 *  --------------------------------------*/

/** --------------------------------------
		#cover
****--------------------------------------*/
#cover {
    background-image: url("media/cover-background-1920x1080.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;	
	color: #ffffff;
}
.cover-shadow{
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    box-shadow:0px 0px 100px #000 inset;
}
.cover-sprite {
    display: none;
}
.cover-video {
    display: block;
}
.cover-header {
	position: absolute;
	top: 30%;
    width: 100%;
	text-align: center;
}
.cover-logo {
    background-image: url("img/cover-logo@2x.png");
    background-repeat: no-repeat;
    background-position: center center;	
    width: 600px;
    height: 330px;
}
.cover-content {
    width: 100%;
}
.cover-content h1 {
	text-transform: uppercase;
	font-family: 'Gotham-Book';
}
.cover-content .nouvelle-formule {
	font-family: 'Gotham-Book';
	background-color: rgba(175,175,175,0.8);
	color: #000000;
	text-transform: uppercase;
}



/** --------------------------------------
		#toast
****--------------------------------------*/
#toast .section-visual { 
    background-image: url(img/toast_cover.jpg); 
}
#toast .section-visual > figcaption {
    top: 2%; left: auto; bottom: auto; right: 0%;
    max-width: 50%;
}
#toast .section-header {
    top: auto; left: auto; bottom: 6%; right: 6%;
}
#toast .section-header > h2 { 
    font-size: 7.2em;
}
#toast .section-header > p {
    font-size: 1.2em;
}

/** --------------------------------------
		#sucre-sale
****--------------------------------------*/
#sucre-sale .section-visual { 
    background-image: url(img/sucre-sale_cover.jpg); 
}
#sucre-sale .section-header > p {
    font-size: 1.3em;
}

/** --------------------------------------
		#plat-du-jour
****--------------------------------------*/
#plat-du-jour .section-visual { 
    background-image: url(img/plat-du-jour_cover.jpg); 
}
#plat-du-jour .section-visual figcaption {    
    max-width: 50%;
    bottom: 2%;
    left: auto;
    right: 0%;
    text-align: right;        
}
#plat-du-jour .section-header {
    text-align: center;
    top: 12%;
}
#plat-du-jour .section-header > h2 {    
    color: #000;
}
#plat-du-jour .section-header > p {
    color: #000;
    font-size: 1.7em;
}

/** --------------------------------------
		#caffe-frappe
****--------------------------------------*/
#cafe-frappe .section-visual {
    background-image: url(img/cafe-frappe_cover.jpg);
}
#cafe-frappe .section-header > h2 {
    font-size: 2.8em;
}
#cafe-frappe .section-header > p {
    font-size: 1.2em;
}


/** --------------------------------------
		Phone & Tablet
****--------------------------------------*/
@media only screen and (max-width: 1024px) and (orientation:portrait) {
    #cover {
        background-image: url("media/cover-background-768x1136.jpg");
    }
    .cover-sprite {  
        display: block;
        background-image: url(media/cover-768x1136.jpg);        
    }   
    .cover-video {
        display: none;          
    }
    .cover-content {
        width: 60%;
    }
}
@media only screen and (max-width: 1024px) and (orientation:landscape) {
    #cover {
        background-image: url("media/cover-background-1136x768.jpg");
    }
    .cover-sprite {  
        display: block;   
        background-image: url(media/cover-1136x768.jpg); 
    }
    .cover-video {
        display: none;        
    }
    .cover-content {
        width: 100%;
    }
}

/** --------------------------------------
		Only Phone
****--------------------------------------*/
@media only screen and (max-width: 640px) {
	.cover-logo {
		background-image: url("img/cover-logo.png");
        width: 300px;
        height: 165px;
	}
}

/* Tablet with Retina/HD Screens */
@media only screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {      
}

/*background-image: url("media/cover-1136x768.jpg");*/


